body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header Section*/
header{
    width: 100%;
    height: 200px;
    background-color: #fff;    
}

nav{ 
    width: 100%;
    height: 70px;
    background-color: #fff;
    line-height: 50px;
}

nav ul{
    float: left;
    margin-left: 20px;
    margin-top: 35px;
    margin-bottom: 2px;
    font-size: 15px;
}    

nav ul li{
    display: inline-block;
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color:#fff;
    padding: 20px;
    color: #282727;
}

nav ul li a{
    bold
    transition : 1s all ease;
}

nav ul li ul li{
    display: none;
    background-color: #fff;
    box-shadow: rgba( red, green, blue, alpha) 0 2px 6px 0;
    height: 60px;
    transition: 1s;
}
nav ul li:hover ul li{
    display: block;
    transition: 1s;
    animation: drop 1s all;
}
@keyframes drop{
    0%{
        transform: scale(2,2) rotate(90deg);
    }
    100%{
        transform: scale(1,1) rotate(0deg);
    }
}
nav img{
    float: left;
    margin-top: 5px;
}
search{
    height: 42px;
    width: 40px;
    text-align-last: right;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #0f0f0f;
    padding: 10px;
    margin-bottom: 20px;
}
search input{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
    padding: 0 10px;
}
search search-button{
    width: 40px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #232323;

 }
header-cart{
    height: 42px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #232323;
    margin: auto;
} 



/*Section 1*/
.section-1{
    height: 200px;
    width: 100%;
    background-color: #fff;

}
 #img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

/*Section 2*/
.section-2{
    height: 200px;
    width: 100%;
    border:  5px dashed black;
}


/*Slider*/
.slider{
    width: 100%;
    
   
    display: flex;
}
/*slider img{
    width: 100%;
    padding: 0px 10px;
    
}
.slider_image{
    display: flex;
}
.btn-container{
    margin-auto;
    width: 50px;
}
.btn{
    padding: 10px 10px;
    background-color: black;
    font-size: 30px;
    position: relative;
    outline:none;
    border:none;
    border-radius: 5px;

}*/

/*Section-4
#section-4{
    height:98.51%;
    background-color: #2c415;
    

}*/


/*Footer*/

footer{

    width:100%
    height: 60px;
    background-color:#ccc;
    color: black;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 80px;
    gap: 30px;

}
.img{
    /*display:inline block;
    height ="20px";
    width="40px";
    gap: 50px;
    justify-content: space-between;*/

    align-items: center;
    display: flex;
    justify-content:center;
    gap: 100px;
}

